
main {
    margin: 10px;
    padding: 10px;
}

td {
    font-size: 14px;
    vertical-align: middle;
    padding: 5px;
}

.active {
    border-radius: 25px;
    background: #FF7900;
}

body {
    display: flex;
    align-items: stretch;
    margin: 0;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

nav {
    width: 200px;
    min-height: calc(100vh - 2em);
}

main {
    flex: auto;
}

button {
    border: none;
    background: #404040;
    color: #ffffff !important;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 3px;
    display: block;
    transition: all 0.3s ease 0s;
    margin: 10px;
}

button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
    border-radius: 3px;
}

input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    width: 100%;
    padding: 12px 0px 0px 0px;
    margin: 0;
    display: inline-block;
}

img.cover {
    height: 64px;
    width: 64px;
}

img.cover:hover {
    height: 192px;
    width: 192px;
}


