<label for="title">Title</label>
<input id="title" value="{{title}}" />

<label for="artistId">Artist</label>
<select id="artistId"></select>

<label for="genreId">Genre</label>
<select id="genreId"></select>

<label for="price">Price</label>
<input id="price" value="{{price}}" />

<label for="albumArtUrl">Cover URL</label>
<input id="albumArtUrl" value="{{albumArtUrl}}" />

<button id="save" class="album" data-albumId="{{albumId}}">Save</button>
<button id="cancel" class="album">Cancel</button>
<button id="remove" class="album" data-albumId="{{albumId}}" data-title="{{title}}" data-price="{{price}}">Remove</button>
