<button data-artistId='0' data-name='' data-description='' title="Create New Artist" class="artist fas fa-plus"></button>
<table>
    <tr>
        <th>Artist</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td>{{name}}</td>
        <td>
            <button data-artistId='{{artistId}}' data-name='{{name}}' title="Edit" class="artist fas fa-edit"></button>
            <button data-artistId='{{artistId}}' data-name='{{name}}' title="Remove" class="artist fas fa-trash"></button>
        </td>
    </tr>
</table>